@import "./mixins.scss";

@mixin circle($bgCol, $w, $bw, $bdCol, $zI, $top, $left){
    background-color:$bgCol;
    width:$w;
    height:$w;
    border-radius:$w;
    border:$bw solid $bdCol;
    z-index:$zI;
    position:relative;
    top:$top;
    left:$left;
}

@mixin input($w, $h, $c, $bc){
    width:$w;
    height:$h;
    color:$c;
    background-color:$bc;
    border-width:0;
    border-radius:$w;
}

article{
    height:auto;
    display:grid;
}

.art1_1{
    grid-template-columns:50% 50%;
    .blockLeft{
        justify-self:center;
        .circle1{
            @include circle(transparent, 160px , 45px, blue, 1, 50px, 260px);
        }
        
        .circle2{
            @include circle(transparent, 500px , 0, blue, 2, -70px, 20px);
            background-image:url("https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/703490a9dd6553cca7d1bd05/dfd.jpg");
            background-size: cover;
            background-position:-60px center;
        }
    
        .circle3{
            @include circle(transparent, 250px, 20px, blue, 3, -200px, 220px);
            background-image:url("https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/0a1d99b183d85e8197b7ee2a/flat-lay-office-desk-assortment-with-empty-screen-tablet_23-2148707960.jpg?version=");
            background-size: cover;
            background-position:-60px center;
        }
    
        .circle4{
            @include circle(blue, 100px , 10px, blue, 1, -220px, 100px);
        }
    }
    .blockRight{
        margin-top:80px;
        padding:60px;
        span{
            font-size:25px;
            font-family:sans-serif;
        }
        h1{
            @include h(50px, black);
            margin-top:10px;
            padding-right:200px;
        }
        p{
            @include p(18px, 0px, 0px, 30px, black);
        }
        button{
            @include button(220px, 60px, 20px, 20px, blue, white);
        }
    }
}


.art1_2{
    h1{
        @include h(40px, blue);
        text-align:center;
    }

    .teamBlock{
        display:grid;
        height:auto;
        grid-template-columns:auto auto;
        margin:50px;
    }

    .fstPerson, .secPerson{
        display:grid;
        grid-template-columns:40% 60%;
        padding:10px;

        img{
            width:80%;
            border-radius:100%;
        }

        .info{
            margin:10px;
        }

        ul{
            position:relative;
            left:-20px;
            li{
                display:inline-block;
                font-size:20px;
                color:silver;
            }
        }

        b{
            @include h(25px, blue);
        }

        p{  
            @include p(18px, 5px, 0px, 30px, gray);
            width:280px;
        }
        
        a{
            margin:10px;
        }

        .socmed{
            width:30px;
            height:30px;
            border-radius:100%;
        }
    }
}

.art2_1{
    background-color:blue;
    display:grid;
    justify-items:center;

    img{
        margin-top:100px;
        width:200px;
        height:200px;
        border:18px solid white;
        border-radius:100%;
    }

    h1{
        @include h(50px, white);
        text-align:center;
        padding-left:10%;
        padding-right:10%;
        margin-bottom:0px;
    }

    p{
        @include p(18px, 50px, 50px, 30px, white);
        text-align:center;
        padding-left:20%;
        padding-right:20%;
    }

    form{
        text-align:center;
    }

    input{
        @include input(30vw, 40px, gray, white);
        font-family:Raleway;
        font-size:18px;
        margin:10px;
        padding-left:20px;
    }
    
    button{
        @include button(20vw, 40px, 25px, 0, #db55db, white);
        margin-bottom:20px;
    }
}

.art3_1{
    background-color:#ebeaea;
    padding:10vw;

    h1{
        @include h(50px, black)
    }

    .aboutBlock{
        background-color:white;
        padding:2vw;
    }

    .firstBlock, .secondBlock, .thirdBlock{
        padding:10px;
    }

    b{
        font-size:25px;
    }
    
    summary::marker{
        content:none;
    }

    .secBlock{
        margin:10px;
        width:5vw;
        height:fill;
        padding:10px;
        color:black;
        background-color:transparent;
        border:2px solid gray;
        font-weight:bold;
        font-size:1.2vw;
        text-align:center;
        cursor:pointer;
        &:hover{
            background-color:blue;
            color:white;
        }
    }

    span{
        display:block;
        color:blue;
        font-size:20px;
        font-family:Raleway;
        font-weight:bold;
        margin-top:40px;
    }

    p{
        @include p(20px, 0px, 0px, 30px, black);
    }

    button{
        @include button(20vw, 3vw, 1vw, 10px, blue, white);
    }
}

.art4_1{
    background-color:blue;
    padding-bottom:10%;

    h1{
        @include h(50px, white);
        text-align:center;
    }

    p{
        @include p(20px, 30vw, 30vw, 30px, white);
        text-align:center;
    }

    .comments{
        display:grid;
        grid-template-columns:50% 50%;
        justify-items:center;
    }

    .com{
        text-align:center;
        background-color:white;
        width:30vw;
        padding-bottom:8%;
        padding-top:8%;

        img{
            width:8vw;
            border-radius:100%;
        }

        .phrase{
            display:block;
            @include p(16px, 2vw, 2vw, 18px, black);
            padding:50px;
        }

        b{
            font-size:25px;
        }

        .job{
            display:block;
            color:gray;
            padding-top:5%;
        }
    }
}