$mainCol1:blue;
$mainCol2:white;
$textCol3:black;


@import "./mixins.scss";

@mixin circle($bgCol, $w, $bw, $bdCol, $zI, $top, $left){
    background-color:$bgCol;
    width:$w;
    height:$w;
    border-radius:$w;
    border:$bw solid $bdCol;
    z-index:$zI;
    position:relative;
    top:$top;
    left:$left;
}

@mixin input($w, $h, $c, $bc){
    width:$w;
    height:$h;
    color:$c;
    background-color:$bc;
    border-width:0;
    border-radius:$w;
}

article{
    height:auto;
    display:grid;
}

.art1_1{
    grid-template-columns:50% 50%;
    .blockLeft{
        justify-self:center;
        .circle1{
            @include circle(transparent, 160px , 45px, $mainCol1, 1, 50px, 260px);
        }
        
        .circle2{
            @include circle(transparent, 500px , 0, $mainCol1, 2, -70px, 20px);
            background-image:url("https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/703490a9dd6553cca7d1bd05/dfd.jpg");
            background-size: cover;
            background-position:-60px center;
        }
    
        .circle3{
            @include circle(transparent, 250px, 20px, $mainCol1, 3, -200px, 220px);
            background-image:url("https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/0a1d99b183d85e8197b7ee2a/flat-lay-office-desk-assortment-with-empty-screen-tablet_23-2148707960.jpg?version=");
            background-size: cover;
            background-position:-60px center;
        }
    
        .circle4{
            @include circle($mainCol1, 100px , 10px, $mainCol1, 1, -220px, 100px);
        }
    }
    .blockRight{
        margin-top:80px;
        padding:60px;

        .title1{
            font-size:1.3vw;
            font-family:sans-serif;
            text-transform:uppercase;
        }

        h1{
            @include h(4vw, $textCol3);
            margin-top:10px;
            padding-right:3vw;
        }

        p{
            @include p(1.2vw, 0px, 5vw, 30px, $textCol3);
        }

        button{
            @include button(25px, 25px, $mainCol1, $mainCol2);
        }
    }
}


.art1_2{
    h1{
        @include h(40px, $mainCol1);
        text-align:center;
    }

    .teamBlock{
        display:grid;
        height:auto;
        grid-template-columns:auto auto;
        margin:50px;
    }

    .fstPerson, .secPerson{
        display:grid;
        grid-template-columns:30% 70%;
        padding:10px;

        img{
            width:100%;
            border-radius:100%;
        }

        .info{
            margin:10px;
        }

        ul{
            position:relative;
            left:-20px;
            li{
                display:inline-block;
                font-size:30px;
                padding-right:10px;
                color:silver;
            }
        }

        b{
            @include h(40px, $mainCol1);
        }

        p{  
            @include p(20px, 5px, 0px, 30px, gray);
            width:280px;
        }
        
        a{
            margin:10px;
        }

        .socmed{
            width:40px;
            height:40px;
            border-radius:100%;
        }
    }
}

.art2_1{
    background-color:$mainCol1;
    display:grid;
    justify-items:center;

    img{
        margin-top:100px;
        width:200px;
        height:200px;
        border:18px solid $mainCol2;
        border-radius:100%;
    }

    h1{
        @include h(40px, $mainCol2);
        text-align:center;
        padding-left:10%;
        padding-right:10%;
        margin-bottom:0px;
    }

    p{
        @include p(15px, 50px, 50px, 30px, $mainCol2);
        text-align:center;
        padding-left:20%;
        padding-right:20%;
    }

    form{
        display:grid;
        grid-template-columns:auto auto auto;
        text-align:center;
        margin-bottom:5vh;
        gap:1vw;
    }

    input{
        @include input(260px, 2.5vw, gray, $mainCol2);
        font-family:Raleway;
        padding:2px;
        font-size:20px;
    }
    
    button{
        @include button(25px, 0, #db55db, $mainCol2);
    }
}

.art3_1{
    background-color:#ebeaea;
    padding:10vw;

    h1{
        @include h(50px, $textCol3)
    }

    .aboutBlock{
        background-color:$mainCol2;
        padding:2vw;
    }

    .firstBlock, .secondBlock, .thirdBlock{
        padding:10px;

        b{
            font-size:15px;
        }

        span{
            display:block;
            color:$mainCol1;
            font-size:20px;
            font-family:Raleway;
            font-weight:bold;
            margin-top:40px;
        }

        p{
            font-size:15px;
        }
        
        button{
            @include button(20px, 10px, $mainCol1, $mainCol2);
        }
    }
    
    summary::marker{
        content:none;
    }

    .secBlock{
        margin:10px;
        width:100px;
        height:fill;
        padding:10px;
        color:$textCol3;
        background-color:transparent;
        border:2px solid gray;
        font-weight:bold;
        font-size:20px;
        text-align:center;
        cursor:pointer;
        &:hover{
            background-color:$mainCol1;
            color:$mainCol2;
        }
    }
}

.art4_1{
    background-color:$mainCol1;
    padding-bottom:5%;

    h1{
        @include h(50px, $mainCol2);
        text-align:center;
    }

    p{
        @include p(20px, 10%, 10%, 20px, $mainCol2);
        text-align:center;
    }

    .comments{
        display:grid;
        grid-template-columns:50% 50%;
        justify-items:center;
    }

    .com{
        text-align:center;
        background-color:$mainCol2;
        width:60%;
        padding-bottom:8%;
        padding-top:8%;

        img{
            width:8vw;
            border-radius:100%;
        }

        .phrase{
            display:block;
            @include p(20px, 2vw, 2vw, 18px, $textCol3);
            padding:25px;
            padding-left:10%;
            padding-right:10%;
        }

        b{
            font-size:20px;
        }

        .job{
            font-size:20px;
            display:block;
            color:gray;
            padding-top:5%;
        }
    }
}

.art5_1{
    display:grid;
    grid-template-columns:45% 55%;
    background-color:#f3f5f4;

    img{
        width:100%;
    }

    .info{
        padding:50px;
        align-self:center;
        padding-left:3vw;
    }

    .title2{
        font-size:25px;
        font-family:sans-serif;
        text-transform:uppercase;
    }

    h1{
        @include h(3vw, $textCol3);
        padding-right:10vw;
    }

    p{
        @include p(16px, 0, 0, 1em, $textCol3);
    }

    button{
        @include button(25px, 0, $mainCol1, $mainCol2);
    }
}

.art6_1{

    h1{
        @include h(3vw, $textCol3);
        text-align:center;
    }

    > p{
        @include p(1.3vw, 20vw, 20vw, 2em, $textCol3);
        text-align:center;
    }

    .statistic{
        display:grid;
        grid-template-columns:25% 25% 25% 25%;
        justify-items:center;
        padding-left:10vw;
        padding-right:10vw;
        padding-top:5vh;
    }

    .statBlock{
        width:90%;
        height:auto;
        background-color:#f2f2f2;
        border-top:2vh solid $mainCol1;
        padding-bottom:10%;

        .count{
            display:block;
            font-size:5vw;
            text-align:center;
        }

        .title{
            display:block;
            text-align:center;
            text-transform:uppercase;
            font-family:Raleway;
            font-size:22px;
            padding-left:20%;
            padding-right:20%;
        }

        .desc{
            @include p(18px, 10%, 10%, 1em, $textCol3);
            text-align:center;
        }
    }

}

.art7_1{
    display:grid;
    grid-template-columns:50% 50%;
    justify-items:center;
    margin-top:15vh;
    margin-bottom:10vh;
    gap:5vw;
    
    .field{
        width:80%;
        height:90%;

        h1{
            @include h(50px, $textCol3);
            text-align:center;
        }
    
        .o{
            width:100%;
            border-bottom:2px solid $textCol3; 
            font-family:Raleway;
            margin:1.5vw;
        }
    
        label{
            font-size:20px;
        }
    
        .text{
            display:block;
            width:100%;
            max-width:100%;
            border-width:0;
            font-size:20px;
            margin:1vw;
        }
    
        .checkbox{
            margin-left:1.3vw;
        }
    
        a{
            text-decoration:none;
        }
    
        .all{
            display:grid;
            justify-items:center;
        }
    
        button{
            @include button(35px, 3vh, $mainCol1, $mainCol2);
        }
    }

    .info{
        width:60%;
        height:80%;
        background-color:#edecec;
        padding:2vw;

        h2{
            @include h(30px, $mainCol1);
            font-weight:600;
            font-style:bold;
            text-transform:uppercase;
            text-align:center;
        }

        span{
            display:block;
            text-align:center;
            font-size:20px;
            padding-left:7vw;
            padding-right:7vw;
        }

        b{
            font-size:20px;
            display:block;
            text-align:center;
        }
    }
}

footer{
    height:10vh;
    background-color:#333333;
    padding:3vw;

    p{
        @include p(20px, 20vw, 20vw, 1em, $mainCol2);
        text-align:center;
    }

    span{
        font-size:20px;
        color:$mainCol2;
        font-family:Raleway;
        display:block;
        text-align:center;
    }
}