@import "./mixins.scss"; 

body{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    header{
        color:white;
        .top{   
            padding:15px;
            img{
                cursor:pointer;
            }
            .menu{
                @include button(100px, 40px, 25px, 5px, white, black);
                line-height:27px;
                float:right;
                font-size:25px;
                font-weight:bold;
                border:2px solid black;
            }
        }
        .space{
            min-height:650px;
            height:auto;
            text-align:center;
            padding-bottom:20px;
            background-image:url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/533bb9280d125b309a000741/cvb.jpg?version=");
            background-repeat:no-repeat;
            background-position:center;
            background-size:cover;

            button{
              @include button(15vw, 8vh, 30px, 20px, white, #312e45);
            }
        }
        .mainLogo{
            margin-top:60px;
        }

        h1{
            @include h(70px, white);
            font-family:Georgia;
            padding-left:20vw;
            padding-right:20vw;
        }

        p{
            @include p(20px, 25vw, 25vw, 30px, white);
            font-style:italic;
        }


        .themes{
            margin-left:-40px;
            li{
                display:inline-block;
                width:3vw;
                background-color:black;
                border:1px solid white;
                border-radius:10px;
                transition-duration:0.5s;
                &:hover{
                    transform:translate(0px, 0.5vh);
                    border:1px solid blue;
                    & a{
                        color:blue;
                    }
                }
            }
            a{
                text-decoration:none;
                color:white;
            }
        }
    }
}