$mainCol1:blue;
$mainCol2:white;
$textCol3:black;


@import "./mixins.scss"; 

body{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    header{
        .top{   
            padding:20px;
            img{
                cursor:pointer;
            }
            .menu{
                @include button(30px, 0, $mainCol1, $textCol3);
                line-height:30px;
                float:right;
                font-weight:bold;
                border:2px solid $textCol3;
            }
        }
        .space{
            min-height:650px;
            height:auto;
            text-align:center;
            padding-bottom:3vh;
            background-image:url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/533bb9280d125b309a000741/cvb.jpg?version=");
            background-repeat:no-repeat;
            background-position:center;
            background-size:cover;

            button{
              @include button(30px, 20px, $mainCol2, #312e45);
            }
        }
        .mainLogo{
            margin-top:60px;
        }

        h1{
            @include h(5vw, $mainCol2);
            font-family:Georgia;
            padding-left:20vw;
            padding-right:20vw;
        }

        p{
            @include p(1.2vw, 25vw, 25vw, 30px, $mainCol2);
            font-style:italic;
        }


        .themes{
            margin-left:-40px;
            li{
                display:inline-block;
                width:45px;
                font-size:20px;
                background-color:$textCol3;
                border:1px solid $mainCol2;
                border-radius:10px;
                transition-duration:0.5s;
                &:hover{
                    transform:translate(0px, 0.5vh);
                    border:1px solid $mainCol2;
                    & a{
                        color:$mainCol2;
                    }
                }
            }
            a{
                text-decoration:none;
                color:$mainCol2;
            }
        }
    }
}