@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,900;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,900;1,600&display=swap");
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body header {
  color: white;
}
body header .top {
  padding: 15px;
}
body header .top img {
  cursor: pointer;
}
body header .top .menu {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 25px;
  color: black;
  font-size: 25px;
  font-family: Raleway;
  margin-top: 5px;
  border-width: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 27px;
  float: right;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid black;
}
body header .top .menu:hover {
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  background-color: black;
  color: white;
  border: 3px solid white;
}
body header .space {
  min-height: 650px;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/533bb9280d125b309a000741/cvb.jpg?version=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body header .space button {
  width: 220px;
  height: 60px;
  background-color: white;
  border-radius: 55px;
  color: #312e45;
  font-size: 25px;
  font-family: Raleway;
  margin-top: 20px;
  border-width: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-size: 30px;
}
body header .space button:hover {
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  background-color: #312e45;
  color: white;
  border: 3px solid white;
}
body header .mainLogo {
  margin-top: 60px;
}
body header h1 {
  font-size: 70px;
  font-family: Raleway;
  color: white;
  font-family: Georgia;
  padding-left: 10vw;
  padding-right: 10vw;
}
body header p {
  font-size: 20px;
  font-family: Raleway;
  padding-left: 170px;
  padding-right: 170px;
  line-height: 30px;
  color: white;
  word-wrap: break-word;
  font-style: italic;
}
body header .themes {
  margin-left: -40px;
}
body header .themes li {
  display: inline-block;
  width: 25px;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
}
body header .themes a {
  text-decoration: none;
  color: violet;
}

article {
  height: auto;
  display: -ms-grid;
  display: grid;
}

.art1_1 {
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}
.art1_1 .blockLeft {
  -ms-grid-column-align: center;
      justify-self: center;
}
.art1_1 .blockLeft .circle1 {
  background-color: transparent;
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 45px solid blue;
  z-index: 1;
  position: relative;
  top: 50px;
  left: 260px;
}
.art1_1 .blockLeft .circle2 {
  background-color: transparent;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  border: 0 solid blue;
  z-index: 2;
  position: relative;
  top: -70px;
  left: 20px;
  background-image: url("https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/703490a9dd6553cca7d1bd05/dfd.jpg");
  background-size: cover;
  background-position: -60px center;
}
.art1_1 .blockLeft .circle3 {
  background-color: transparent;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  border: 20px solid blue;
  z-index: 3;
  position: relative;
  top: -200px;
  left: 220px;
  background-image: url("https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/0a1d99b183d85e8197b7ee2a/flat-lay-office-desk-assortment-with-empty-screen-tablet_23-2148707960.jpg?version=");
  background-size: cover;
  background-position: -60px center;
}
.art1_1 .blockLeft .circle4 {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 10px solid blue;
  z-index: 1;
  position: relative;
  top: -220px;
  left: 100px;
}
.art1_1 .blockRight {
  margin-top: 80px;
  padding: 60px;
}
.art1_1 .blockRight span {
  font-size: 25px;
  font-family: sans-serif;
}
.art1_1 .blockRight h1 {
  font-size: 50px;
  font-family: Raleway;
  color: black;
  margin-top: 10px;
  padding-right: 200px;
}
.art1_1 .blockRight p {
  font-size: 18px;
  font-family: Raleway;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 30px;
  color: black;
  word-wrap: break-word;
  padding-right: 200px;
}
.art1_1 .blockRight button {
  width: 220px;
  height: 60px;
  background-color: blue;
  border-radius: 55px;
  color: white;
  font-size: 20px;
  font-family: Raleway;
  margin-top: 20px;
  border-width: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: bold;
}
.art1_1 .blockRight button:hover {
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  background-color: white;
  color: blue;
  border: 3px solid blue;
}

.art1_2 h1 {
  font-size: 40px;
  font-family: Raleway;
  color: blue;
  text-align: center;
}
.art1_2 .teamBlock {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  margin: 50px;
}
.art1_2 .fstPerson, .art1_2 .secPerson {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  padding: 10px;
}
.art1_2 .fstPerson img, .art1_2 .secPerson img {
  width: 80%;
  border-radius: 100%;
}
.art1_2 .fstPerson .info, .art1_2 .secPerson .info {
  margin: 10px;
}
.art1_2 .fstPerson ul, .art1_2 .secPerson ul {
  position: relative;
  left: -20px;
}
.art1_2 .fstPerson ul li, .art1_2 .secPerson ul li {
  display: inline-block;
  font-size: 20px;
  color: silver;
}
.art1_2 .fstPerson b, .art1_2 .secPerson b {
  font-size: 25px;
  font-family: Raleway;
  color: blue;
}
.art1_2 .fstPerson p, .art1_2 .secPerson p {
  font-size: 18px;
  font-family: Raleway;
  padding-left: 5px;
  padding-right: 0px;
  line-height: 30px;
  color: gray;
  word-wrap: break-word;
  width: 280px;
}
.art1_2 .fstPerson a, .art1_2 .secPerson a {
  margin: 10px;
}
.art1_2 .fstPerson .socmed, .art1_2 .secPerson .socmed {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.art2_1 {
  background-color: blue;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.art2_1 img {
  margin-top: 100px;
  width: 200px;
  height: 200px;
  border: 18px solid white;
  border-radius: 100%;
}
.art2_1 h1 {
  font-size: 50px;
  font-family: Raleway;
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0px;
}
.art2_1 p {
  font-size: 18px;
  font-family: Raleway;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 30px;
  color: white;
  word-wrap: break-word;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.art2_1 form {
  text-align: center;
}
.art2_1 input {
  width: 50vw;
  height: 40px;
  color: gray;
  background-color: white;
  border-width: 0;
  border-radius: 50vw;
  font-family: Raleway;
  font-size: 18px;
  margin: 10px;
  padding-left: 20px;
}
.art2_1 button {
  width: 20vw;
  height: 40px;
  background-color: #db55db;
  border-radius: 5vw;
  color: white;
  font-size: 25px;
  font-family: Raleway;
  margin-top: 0;
  border-width: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-bottom: 20px;
}
.art2_1 button:hover {
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  background-color: white;
  color: #db55db;
  border: 3px solid #db55db;
}