@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,900;1,600&display=swap');

@mixin button($w:200px, $h:#{$w/1.5}, $fs:25px, $mt, $bBgCol:white, $bCol:#292241){
    width:$w;
    height:$h;
    background-color:$bBgCol;
    border-radius:#{$w/4};
    color:$bCol;
    font-size:$fs;
    text-transform:uppercase;
    font-weight:bold;
    font-family:Raleway;
    margin-top:$mt;
    border-width:0px;
    cursor:pointer;
    transition-duration:0.5s;
    &:hover{
        transform:translate(0px, 6px);
        background-color:$bCol;
        color:$bBgCol;
        border:3px solid $bBgCol;
    }
}

@mixin h($fs, $col){
    font-size:$fs;
    font-family:Raleway;
    color:$col;
}

@mixin p($fs, $pl, $pr, $lh, $col){
    font-size:$fs;
    font-family:Raleway;
    padding-left:$pl;
    padding-right:$pr;
    line-height:$lh;
    color:$col;
    word-wrap:break-word;
}